body{
    margin: 0;
    padding: 0;
    /* display: grid;
    place-items: center;  
    width: 100%; */
    background-color: rgb(31, 27, 27);
    color: whitesmoke;
}
header{
    position: fixed;
    top: 0;
    background-color: rgb(37, 36, 36);
    display: block;
    width: 100%;
    text-align: center;
}
.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    margin-top: 1rem;
    background-color: whitesmoke;
    height: 376px;
    width: 376px;
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    gap: 8px;
}

.boxes{
    background-color: rgb(64, 62, 62);
    display: grid;
    place-items: center;
}
#reset{
    margin-top: 1.4rem;
    font-size: 1.3rem;
    background-color: rgb(64, 62, 62);
    color: whitesmoke;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.2rem;
    transition: font-size 0.1s;
}
#reset:hover{
    cursor: pointer;
    font-size: 1.35rem;
    padding: 0.23rem 0.52rem;
}
#reset:active{
    font-size: 1.27rem;
    padding: 0.18rem 0.48rem;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid red;
}

.rectangle{
    width: 60px;
    height: 60px;
    border: 5px solid red;
}

@media (max-width:450px){
    .container{
        height: 250px;
        width: 250px;
        grid-template-columns: repeat(3,80px);
        grid-template-rows: repeat(3,80px);
        gap: 5px;
    }

    .circle,.rectangle{
        width: 50px;
        height: 50px;
        border: 3px solid red;
    }
    #reset{
        margin-top: 2rem;
    }
}